:host {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: var(--glob-header-height);
  backdrop-filter: blur(10px);
  background: color-mix(in srgb, var(--mat-sys-surface) 70%, transparent);
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: baseline;
  justify-content: end;
  height: 100%;
}

.navbar-item {
  padding: 0 16px;
  font-size: 18px;
  line-height: var(--glob-header-height);
  height: 100%;
  cursor: pointer;

  &:hover {
    background: color-mix(in srgb, var(--mat-sys-on-surface) 5%, transparent);
  }

  &.active {
    border-bottom: 2px solid var(--mat-sys-on-surface);
    background: color-mix(in srgb, var(--mat-sys-on-surface) 10%, transparent);
  }
}
