:host {
  --highlights-spacing: 64px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: var(--highlights-spacing);
  padding-top: calc(var(--highlights-spacing) + var(--global-header-height));
  display: flex;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.active-area {
  width: 100%;
  max-width: var(--global-max-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: end;
}
