:host {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.icon-buttons {
  margin-right: var(--glob-spacing-s);
}

.item-title {
  font-size: 18px;
}

.description-line {
  opacity: 0.8;
}

.location-date {
  display: flex;
  flex-flow: row wrap;
  opacity: 0.8;

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    flex-shrink: 0;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: var(--glob-spacing-xs);
}

.date {
  display: flex;
  min-width: 120px;
  align-items: center;
  gap: var(--glob-spacing-xs);
}
