:host {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

@media (max-width: 600px) {
  :host {
    grid-template-columns: 1fr min-content;
  }
}

.item-title {
  font-size: 18px;
}

.description-line {
  opacity: 0.8;
}

.location-date {
  display: flex;
  flex-flow: row wrap;
  opacity: 0.8;

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    flex-shrink: 0;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: var(--glob-spacing-xs);
}

.date {
  display: flex;
  min-width: 120px;
  align-items: center;
  gap: var(--glob-spacing-xs);
}
