.projects-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  padding-top: calc(var(--global-header-height) + 8px);
}

.section-header {
  text-align: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 1rem;

  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
}
