.home-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
}

.down-arrow-container {
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.down-arrow {
  width: 3rem;
  height: 3rem;
}
