.home-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 32px;
  margin: 0;
  color: white;
}

.navbar-title {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  font-size: 24px;
}

.navbar-item {
  padding: 0 16px;
  font-size: 18px;
}

.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

.down-arrow-container {
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.down-arrow {
  width: 3rem;
  height: 3rem;
}

.section-header {
  text-align: center;
}

.placeholder {
  width: 100%;
  min-height: 250px;
}
.placeholder:nth-child(even) {
  background: lightblue;
}
.placeholder:nth-child(odd) {
  background: lightyellow;
}
