.highlights-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vw;
}

.card {
  position: absolute;
  bottom: 64px;
  right: 64px;
  width: 300px;

  backdrop-filter: blur(10px);
  background: color-mix(in srgb, var(--mat-sys-surface) 70%, transparent);
}
