.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--global-header-height);
  backdrop-filter: blur(10px);
  background: color-mix(in srgb, var(--mat-sys-surface) 70%, transparent);
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  padding: var(--global-header-padding);
  margin: 0;
}

.navbar-title {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  font-size: 24px;
  line-height: var(--global-header-line);
}

.navbar-item {
  padding: 0 16px;
  font-size: 18px;
  line-height: var(--global-header-line);
}

.navbar-link {
  cursor: pointer;
}
