.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: var(--global-header-height);
  backdrop-filter: blur(10px);
  background: color-mix(in srgb, var(--mat-sys-surface) 70%, transparent);
  z-index: 10;
  padding: 0 var(--global-page-spacing);
}

.navbar {
  display: flex;
  align-items: baseline;
  margin: 0;
  height: 100%;
  max-width: var(--global-max-width);
  margin: 0 auto;
}

.navbar-title {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  line-height: var(--global-header-height);
  height: 100%;
}

.navbar-item {
  padding: 0 16px;
  font-size: 18px;
  line-height: var(--global-header-height);
  height: 100%;

  &.active {
    border-bottom: 2px solid var(--mat-sys-on-surface);
    background: color-mix(in srgb, var(--mat-sys-on-surface) 10%, transparent);
  }
}

.navbar-link {
  cursor: pointer;
}
