:host {
  --avatar-size: 200px;
  --column-size: 200px;
}

/* Profile */

.profile-block {
  display: grid;
  grid-template-columns: 1fr var(--avatar-size);
  gap: var(--glob-spacing-m);
  justify-content: center;
}

.personal-info {
  align-self: center;
  .block-title {
    margin: 0;
  }
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

@media (max-width: 600px) {
  .profile-block {
    grid-template-columns: 1fr;
  }
  .avatar {
    grid-row: 1;
    width: calc(var(--avatar-size) * 0.8);
    height: calc(var(--avatar-size) * 0.8);
  }
}

/* Projects */

.projects-section {
  background: var(--mat-sys-primary-container);
}

.project-highlight-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(var(--card-min-width), var(--card-max-width)));
  gap: var(--glob-spacing-l);
  justify-content: center;
  align-content: stretch;
}

/* --card-min-width * 4 + --glob-page-padding * 5 */
@media (max-width: 1120px) {
  .project-highlight-grid {
    grid-template-columns: repeat(2, minmax(var(--card-min-width), var(--card-max-width)));
  }
}

/* --card-min-width * 2 + --glob-page-padding * 3 */
@media (max-width: 572px) {
  .project-highlight-grid {
    grid-template-columns: minmax(var(--card-min-width), var(--card-max-width));
  }
}

.work-section {
  background: var(--mat-sys-primary-container);
}

.awards-section {
  background: var(--mat-sys-primary-container);
}
