:host {
  --avatar-size: 200px;
  --column-size: 200px;
}

/* Profile */

.profile-block {
  display: grid;
  grid-template-columns: 1fr var(--avatar-size);
  gap: var(--glob-spacing-m);
  justify-content: center;
}

.personal-info {
  align-self: center;
  .block-title {
    margin: 0;
  }
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

@media (max-width: 600px) {
  .profile-block {
    grid-template-columns: 1fr;
  }
  .avatar {
    grid-row: 1;
    width: calc(var(--avatar-size) * 0.8);
    height: calc(var(--avatar-size) * 0.8);
  }
}

/* Projects */

.projects-section {
  background: #004d61;
}

/* CV */

.awards-section {
  background: #3e5641;
}

.education-section {
  background: #822659;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--glob-spacing-m);
  justify-content: start;
}
