* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  scrollbar-width: thin;
}
