@use '@angular/material' as mat;

:root {
  --global-header-height: 64px;
  --global-max-width: 1200px;
  --global-max-article-width: 800px;
  --global-page-spacing: 24px;
  --global-image-spacing: 16px;
  --card-min-width: 250px;
  --card-max-width: 350px;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark; /* light dark */
  scrollbar-width: thin;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  position: relative;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* utility styles */

.grid-800 {
  display: grid;
  grid-template-columns: 1fr min(var(--global-max-article-width), calc(100% - var(--global-page-spacing) * 2)) 1fr;
  grid-column-gap: var(--global-page-spacing);

  .center-col {
    grid-column: 2;
  }
}

.grid-1200 {
  display: grid;
  grid-template-columns: 1fr min(var(--global-max-width), calc(100% - var(--global-page-spacing) * 2)) 1fr;
  grid-column-gap: var(--global-page-spacing);

  .center-col {
    grid-column: 2;
  }
}

.page-w800 {
  display: block;
  max-width: 800px;
  padding: 0 var(--global-page-spacing);
  margin: 0 auto;
}

.page-w1200 {
  display: block;
  max-width: var(--global-max-width);
  padding: 0 var(--global-page-spacing);
  margin: 0 auto;
}

.block-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.block-subtitle {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.button-row {
  display: flex;
  flex-flow: row wrap;
  margin: 8px 0;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--global-image-spacing);
  margin: 8px 0 16px;
}

.img-rounded {
  border-radius: var(--mat-sys-corner-medium);
}

.img-h200 {
  max-height: 200px;
  max-width: 100%;
}

.img-h250 {
  max-height: 250px;
  max-width: 100%;
}

.img-h300 {
  max-height: 300px;
  max-width: 100%;
}

.img-h400 {
  max-height: 400px;
  max-width: 100%;
}

.img-h500 {
  max-height: 500px;
  max-width: 100%;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), max-content));
  gap: var(--global-page-spacing);
  justify-content: center;
}

.warning-note {
  color: var(--mat-sys-error);
}

.mat-elevation-2 {
  @include mat.elevation(2);
}
.mat-elevation-4 {
  @include mat.elevation(4);
}
.mat-elevation-8 {
  @include mat.elevation(8);
}
.mat-elevation-12 {
  @include mat.elevation(12);
}
.mat-elevation-16 {
  @include mat.elevation(16);
}
.mat-elevation-24 {
  @include mat.elevation(24);
}
